<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/CSS_files/issue.css">
</head>
<body>
    <div class="heading"><h1>Create Issue</h1></div>

    <div class="home-1">
        <a href="/">HOME</a>
    </div>
    <div class="home">
        <a href="/details/<%= project.id%>">Back</a>
    </div>

    <div class="proj-1">
        <span>Name of the Project: </span>
        <span><%= project.name%></span>
    </div>
    <div class="proj-creation">
        <form action="/details/create-issue/<%= project._id%>" method="POST">
            <div>
                <label for="title">Title:</label>
                <input type="text" name="title" id="title">  
             </div>
             <div>
                <label for="description">Description:</label>
                <textarea name="descriptions" id="description"></textarea>
             </div>
             <div>
                 <label for="labels">Labels:</label>
                 <div class="custom-dropdown" id="labelsDropdown">
                    <div class="selected-values" id="selectedLabels">Labels </div>
                    <div class="dropdown-content">
                      <input type="checkbox" id="bug" name="labels" value="bug">
                      <label for="bug">Bug</label><br>
                      <input type="checkbox" id="feature" name="labels" value="feature">
                      <label for="feature">Feature</label><br>
                      <input type="checkbox" id="enhancement" name="labels" value="enhancement">
                      <label for="enhancement">Enhancement</label><br>
                      <input type="checkbox" id="enhancement" name="labels" value="enhancement">
                      <label for="enhancement">Loading Issue</label><br>
                    </div>
                  </div>
             </div>
     
             <div>
                 <label for="author">Author:</label>
                 <input type="text" name="authors" id="author">
     
             </div>
         
         
        
            <button type="submit">Create Issue</button>
     
         </form>
    </div>
   
    
</body>
<script src="/js_files/labels.js"></script>
</html>